@charset "utf-8";

@mixin mq($breakpoint: 768px, $rule: max, $subtraction: false) {
    @if $rule ==max and $subtraction {
        $breakpoint: $breakpoint - 0.0625;
    }

    @media screen and (#{$rule}-width: $breakpoint) {
        @content;
    }
}

html {
    font-size: min(10px, 1.32vw);
    // scroll-behavior: smooth;
}

// :target  {
//     scroll-margin-top: 50vh; 
// }

body {
    // font-family: "Noto Sans JP", sans-serif;
    font-size: 1.6rem;
    // line-height: 1.5;
    // // letter-spacing: 0.075em;
    // padding-top: 13rem;
    // // overflow-x: hidden;
    // // background: #f4f5f7;
    // font-weight: 400;
}

img,
embed,
object,
iframe {
    display: block;
    max-width: 100%;
}

.container {
    // max-width: 1440px;
    margin: 0 auto;
    width: 96%;
}

a {
    transition: all 0.3s;
    &:hover {
        opacity: 0.7;
    }
}

.cart-number{
    position: relative;
    span{
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        background: red;
        border-radius: 100%;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 500;
    }
}

ul.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    margin-bottom: 10rem;
    .page-item{
        width: 4rem;
        height: 4rem;
        // background: blue;
        // border-radius: 100%;
        // overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        &.active{
            .page-link{
                background: #007bff;
            color: #fff;
            }

        }
    }
    .page-link{
        width: 4rem;
        height: 4rem;
        border: 1px solid #007bff;
        border-radius: 100%;
        width: 100%;
        color: #007bff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

button{
    transition: .3s ease;
}
button:hover{
    opacity: 0.7;
}
@media(max-width: 1080px){
    body {
        padding-top: 10rem;
    }
}

@media(max-width: 768px){
    body {
        padding-top: 5rem;
    }
}