.contact {
  width: 100%;
  margin: 0 auto;
  max-width: 144rem;
  font-family: 'SamsungOne', sans-serif;

  .container {
    width: 96%;
    margin: 0 auto;

    .content {
      position: relative;
      width: 100%;

      .contac-font {
        position: relative;
        width: 100%;
         margin-bottom: 5rem;

        img {
          width: 100%;
          height: auto;
          display: block;
          object-fit: cover;
        }

        h2 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 4.6rem;
          font-weight: 700;
          color: #fff;
          text-align: center;
          line-height: 1.4;
          text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.6);
        }
      }
    .contac-box {
  width: 100%;
 margin-bottom: 8rem;
  box-sizing: border-box;

  h2 {
    font-size: 2.6rem;
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 2rem;
  }

  .box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 2rem;
     max-width: 122rem;
    margin: 0 auto;
  }

  .group-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    background-color: white;
    border-radius: 2rem;
     border: 1px solid #ccc;
     gap: 1rem;
    
  }
  .txt{  
h2 {
    font-size: 2rem;
    font-weight: 600;
  }
  } 

  .lbl {
    color: #333;
     span {
    font-size: 1.6rem;
    
  }
  }

  .btn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .btn_submit {
    background-color: black;
    color: white;
    padding: 0.8rem 2rem;
    border-radius: 25px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.4rem;
  }

  .btn_submit:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}




    }
  }
}
   .zalo-oa {
  font-family: Arial, sans-serif;
  max-width: 80%;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  .zalo-header{
    width: 100%;
    padding:2rem;
    display: flex;
    gap: 2rem;
    .zalo-header_left{
        .img{
            display: flex;
            gap: 2rem;
            margin-bottom: 3rem;
              img{
            width: 100%;
            height: 8rem;
            max-width: 8rem;
            border-radius: 50%;
        }
        .info{
            display: flex;
            flex-direction: column;
            gap: 2px;
            h1{
                color: #001a33;
                font-size: 2.4rem;
                line-height: 1.25;
                font-weight:bold;
                 align-items: center;
                display: flex;
                justify-content: center;
               gap: 1rem;


            }
            .category{
                font-size: 1.5rem;
            }
            .btn-chat{
                background-color: #007bff;
                padding: 0.5rem 1rem;
                max-width: 14rem;
                 border-radius: 1rem;
                 display: flex;
                gap: 0.5rem;
                justify-content: center;
                align-items: center;
                color: white;
            }
            
        }
         .section_detail{
            .row{
             margin-bottom:1.5rem;
            }


            
        }
        }
       

      
    }
    .zalo-header_right{
        p{
           color: #33485c;
           font-size: 1.4rem;
            text-align: center;
            font-weight: 200;
        }
    }
  }
}
.dl{
   width: 100%;
  margin: 0 auto;
  max-width: 144rem;
  font-family: 'SamsungOne', sans-serif;
  .container{
    width: 100%;
    .content{
      .text_book{
        padding: 2rem;
        text-align: center;
        margin-bottom: 3rem;
        h1{
          font-size: 3.5rem;
          font-weight: 700;
          font-family: SamsungSharpSans, SamsungOne, arial, sans-serif;
        }
        p{
          line-height: 1.3;
          font-size: 1.3rem;
        }

      }
      .item{
         width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 2rem;
     max-width: 122rem;
  .group-item{
    width: 100%;
    margin: 0 auto;
    .item-img{
         display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
     gap: 1rem;
     position: relative;
     overflow: hidden;
     img{
      transition: transform 0.5s ease, filter 0.5s ease;
    width: 100%;
    height: auto;
     }
      &:hover img {
    transform: scale(1.1);
  }
  .item-txt{
    position: absolute;
    padding: 2rem;
    display: flex
;
    flex-direction: column;
    h3{
      text-align: center;
      font-size: 2.5rem;
      font-weight: 500;
      color: #fff;
    }
    span{
         text-align: center;
      font-size: 1.3rem;
      font-weight: 500;
      color: #fff;
    }
  }
   .item-txt1{
    position: absolute;
    padding: 2rem;
    display: flex
;
    flex-direction: column;
    h3{
      text-align: center;
      font-size: 2.5rem;
      font-weight: 500;
      color: black;
    }
    span{
         text-align: center;
      font-size: 1.3rem;
      font-weight: 500;
     color: black;
    }
  }
    }
  }
      }
.txt_book{
  margin: 0 auto;
  width: 60%;
  text-align: center;
  margin-top: 3rem;
  h1{
    font-size: 4.5rem;
    color: black;
    font-weight: bold;
  }
}
.list{
  width: 100%;
  display: grid
;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  .item1{
display: flex;
    padding: 2rem;
    flex-direction: column;
  .icon{
    width: 100%;
  }
  .text{
    display: flex
;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
   
    h3{
      height: 8rem;
      font-weight: 700;
      font-size: 2.5rem;
      color: black;
      text-align: center;
    }
    p{
      font-size: 1.3rem;
      font-weight: 400;
       color: #333;
    }
  }
  }
}



    }
  }
}
.glxs25 {
  width: 100%;
   margin: 0 auto;
   background-color: #000000 ;
  font-family: 'SamsungOne', sans-serif;
.container{
  width: 100%;

  .content{
  .t_img {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
    overflow: hidden;

    .bg-image {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 50%;
      left: 10%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      z-index: 2;
      color: #fff;

      h1 {
        font-size: 4.5rem;
        margin-bottom: 2rem;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
      }

      .img-con {
        max-width: 30rem;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }
  .common-video {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  &__video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
        margin-bottom: 2rem;
  }

  &__cover-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    transition: opacity 0.4s ease;
    pointer-events: none;
  }

  &__control-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
  }

  &__control {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: relative;

  }

  &__control-progress-wrap {
    position: relative;
    width: 60px;
    height: 60px;
  }

  &__control-progress {
    width: 60px;
    height: 60px;

    &-bg,
    &-bar {
      fill: none;
      stroke-width: 3;
    }

    &-bg {
      stroke: rgba(255, 255, 255, 0.3);
    }

    &-bar {
      stroke: #fff;
      stroke-dasharray: 106.8;
      stroke-dashoffset: 106.8;
      transition: stroke-dashoffset 0.2s linear;
    }
  }

  &__figure {
    margin: 0;
    position: relative;
      overflow: hidden; 
  }
}



    .contac-box1 {
  width: 100%;
 margin-bottom: 8rem;
  box-sizing: border-box;
  .box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 2rem;
     max-width: 122rem;
    margin: 0 auto;
  }

  .group-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    background-color: white;
    border-radius: 2rem;
     border: 1px solid #ccc;
     gap: 1rem;
    
  }

  .lbl {
    color: #333;
    height: 9rem;
     span {
    font-size: 1.6rem;
    
  }
  }

  .btn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
     font-size: 5rem;
  }
}
.ai{
  display: flex;
    justify-content: space-around;
    margin-bottom: 30rem;
}
.Now{
color: #fff;
text-align: center;
font-size: 2.5rem;

}



}
  }
}
.ssai {
  width: 100%;
  margin: 0 auto;
  font-family: 'SamsungOne', sans-serif;

  .container {
    width: 100%;

    .content {
      position: relative; 

      .carousel-item {
        position: relative;
        max-width: 144rem;
        margin: 0 auto;

        img {
          width: 100%;
          height: auto;
          display: block;
        }

        .voucher-text {
          position: absolute;
          top: 60%; 
          left: 15%;
          transform: translate(-50%, -50%);
          color: white;
          z-index: 2;
          display: flex;
    flex-direction: column;
    gap: 2rem;

          p {
            font-size: 1.5rem;
            font-weight: 500;
          }

          .register-btn {
            text-decoration: none;

            .btn-primary  {
              background-color:white;
              border: none;
             padding: 1rem 1rem;
              color: black;
              font-size: 1.6rem;
              cursor: pointer;
               font-weight: 400;
              border-radius: 3rem;

              &:hover {
                background-color: #000; 
                color: white; 
                border: 1px solid white;
              }
            
            }
          }
        }
      }
      .lbl{
        width: 100%;
        max-width: 144rem;
       background-color:black;
       margin: 0 auto;
       
       h1{
        text-align: center;
        font-size: 4.5rem;
        font-weight: 600;
        color: white;
        margin-bottom: 3rem;
       }
       .video{
        display: flex;
        gap: 2rem;
        width: 100%;
        max-width: 80%;
        margin: 0 auto;
        .left{
          width: 100%;
        }
        .right{
          width: 100%;
          color: white;
           display: flex;
            gap: 1rem;
            flex-direction: column;
          h1{
                font-size: 2.5rem;
                text-align: left;
          }
          span{
            font-size: 1.5rem;
          }
        }
       }
      }
      .txt{
        width: 100%;
        max-width: 144rem;
       background-color:black;
       margin: 0 auto;
       h1{
        padding: 1rem;
        color: #fff;
        text-align: center;
        font-size: 4rem;
        font-weight: 800;
       }
       .list{
  width: 100%;
    padding: 2rem;
  display: grid
;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    margin-bottom: 3rem;
  .item1{
display: flex;
    padding: 2rem;
    flex-direction: column;
  .icon{
    width: 100%;
  }
  .text{
    display: flex
;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    p{
      font-size: 2rem;
      font-weight: 400;
       color:white;
       text-align: center;
    }
  }
  }
}
      }
      .text_book{
          width: 100%;
        max-width: 144rem;
       background-color:black;
       margin: 0 auto;
       h1{
        color: white;
        padding: 1rem;
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
       }
             .list{
  width: 100%;
  padding: 2rem;
  display: grid
;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  .item1{
display: flex;
    padding: 2rem;
    flex-direction: column;
  .icon{
    width: 100%;
  }
  .text{
    display: flex
;
gap: 1rem;
    align-items: center;
    flex-direction: column;
    h2{
      font-size: 3rem;
      font-weight: 400;
       color:white;
    }
    p{
      font-size: 1.5rem;
      font-weight: 400;
       color:white;
       text-align: center;
    }
  }
  }
}
      }
    }
  }
}
.sale1{
   width: 100%;
   margin-bottom: 5rem;
  font-family: 'SamsungOne', sans-serif;
  background-color:#e2f0fd;

  .container{
    width: 100%;
    .content{
      position: relative; 
      .sale-main{
        display: flex;
        gap: 2rem;
        flex-direction: column;
  
      .carousel-item {
        position: relative;
        max-width: 144rem;
        margin: 0 auto;

        img {
          width: 100%;
          height: auto;
          display: block;
        }

        .voucher-text {
          position: absolute;
          top: 60%; 
          left: 15%;
          transform: translate(-50%, -50%);
          color:black;
          z-index: 2;
          display: flex;
    flex-direction: column;
    gap: 2rem;

          h2 {
            font-size: 3.5rem;
            font-weight: 700;
            
          }

          .register-btn {
            text-decoration: none;

            span {
              background-color:white;
              border: none;
             padding: 1rem 1rem;
              color: black;
              font-size: 1.6rem;
              cursor: pointer;
               font-weight: 400;
              border-radius: 3rem;

             
            
            }
          }
        }
      }
      .item1{
        margin: 0 auto;
      }
      .lbl{
        .text{
          text-align: center;
         padding: 2rem;
          font-size: 3.5rem;
          font-weight: bold;
          h2{
            color:black;
          }
        }
         .group_list{
  width: 80%;
  display: grid;
  margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(36rem, 1fr));
  .item{
display: flex;
    padding: 2rem;
    flex-direction: column;
  .icon{
    width: 100%;
  }
  .text1{
    display: flex
;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    h2{
        font-size: 2.5rem;
      font-weight: 700;
       color:black;
       height: 8rem;
       text-align: center;
    }
    p{
      font-size: 1.5rem;
      font-weight: 400;
       color:black;
       text-align: center;
    }
  }
  }
}
      }
      .text_book{
        width: 100%;
        margin: 0 auto;
        .txt{
          color: black;
          h2{
            font-size:3.5rem;
            font-weight: bold;
            text-align: center;
          }
        }
        .group-item{
         width:100%;
         gap: 2rem;
         margin: 0 auto;
        display: flex;
        padding: 5rem;
        justify-content: center;
         .item{
          display: flex;
          gap: 2rem;
          padding: 3rem 0;
          .left{
            img{
                  object-fit: contain;
                  mix-blend-mode: multiply;
            }
          }
          .right{
            span{
              font-weight: bold;
              font-size: 1.5rem;
              color: black;
            }
          }
         }
        }
      }


    }
    }
  }
}
.sane{
     width: 100%;
   margin-bottom: 5rem;
  font-family: 'SamsungOne', sans-serif;
  // background-color:#e2f0fd;
  .container{
       width: 100%;
    .content{
      .san{
        margin: 0 auto;
        .video-container {
  position: relative;
  max-width: 144rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 5rem;

  .video-player {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video-text-overlay {
    position: absolute;
   top: 40%;
    left: 10%;
    z-index: 2;
    display: flex;
    gap: 2rem;
    flex-direction: column;

    h2 {
      font-size: 4.5rem;
      color: black;
      font-weight: bold;
    }

    p {
      font-size: 1.8rem;
     color: black;
     font-weight: 500;
    }
  }
}
   .text_book{
        width: 100%;
        margin: 0 auto;
        .txt{
          color: black;
          h2{
            font-size:3.5rem;
            font-weight: bold;
            text-align: center;
          }
        }
        .group-item{
         width:100%;
         gap: 2rem;
         margin: 0 auto;
        display: flex;
        padding: 5rem;
        justify-content: center;
         .item{
          display: flex;
          gap: 2rem;
          padding: 3rem 0;
          .left{
            width: 20%;
            img{
                  object-fit: contain;
                  mix-blend-mode: multiply;
            }
          }
          .right{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h3{
 font-weight: bold;
 font-size: 2rem;
            }
            span{
             font-weight: 400;
              font-size: 1.7rem;
              color: black;
            }
          }
         }
        }
      }
  .carousel-item {
        position: relative;
        max-width: 144rem;
        margin: 0 auto;

        img {
          width: 100%;
          height: auto;
          display: block;
        }

        .voucher-text {
          position: absolute;
          top: 50%; 
          left: 20%;
          transform: translate(-50%, -50%);
          color: black;
          z-index: 2;
          display: flex;
    flex-direction: column;
    gap: 2rem;
h2{
   font-size: 4.5rem;
    font-weight:bold;
}
          p {
            font-size: 1.5rem;
            font-weight: 500;
          }

          .register-btn {
            text-decoration: none;

            .btn-primary  {
             background-color: #000; 
              border: none;
             padding: 1rem 1rem;
          
              font-size: 1.6rem;
              color: white; 
              cursor: pointer;
               font-weight: 400;
              border-radius: 3rem;

              &:hover {
                background-color:white;
              color: black; 
                border: 1px solid #000;
              }
            
            }
          }
        }

      }
      .carousel-item1 {
        position: relative;
        max-width: 144rem;
        margin: 0 auto;

        img {
          width: 100%;
          height: auto;
          display: block;
        }

        .voucher-text {
          position: absolute;
          top: 20%; 
          left: 25%;
          transform: translate(-50%, -50%);
          color: black;
          z-index: 2;
          display: flex;
    flex-direction: column;
    gap: 2rem;
h2{
   font-size: 5rem;
    font-weight:bold;
}
          p {
            font-size: 1.5rem;
            font-weight: 500;
          }

          .register-btn {
            text-decoration: none;

            .btn-primary  {
             background-color: #000; 
              border: none;
             padding: 1rem 1rem;
          
              font-size: 1.6rem;
              color: white; 
              cursor: pointer;
               font-weight: 400;
              border-radius: 3rem;

              &:hover {
                background-color:white;
              color: black; 
                border: 1px solid #000;
              }
            
            }
          }
        }
        
      }
 .carousel-item2 {
        position: relative;
        max-width: 144rem;
        margin: 0 auto;

        img {
          width: 100%;
          height: auto;
          display: block;
        }

        .voucher-text {
          position: absolute;
          top: 13%; 
          left: 25%;
          transform: translate(-50%, -50%);
          color: black;
          z-index: 2;
          display: flex;
    flex-direction: column;
    gap: 2rem;
h2{
   font-size: 5rem;
    font-weight:bold;
}
          p {
            font-size: 1.5rem;
            font-weight: 500;
          }

          .register-btn {
            text-decoration: none;

            .btn-primary  {
             background-color: #000; 
              border: none;
             padding: 1rem 1rem;
          
              font-size: 1.6rem;
              color: white; 
              cursor: pointer;
               font-weight: 400;
              border-radius: 3rem;

              &:hover {
                background-color:white;
              color: black; 
                border: 1px solid #000;
              }
            
            }
          }
        }
        
      }

      }

    }
  }
}




