.sec-two.product {
    margin: 10rem 0 5rem;
    .container {
        .content {
            .content-body {
                width: 100%;
                max-width: 140rem;
                margin: 0 auto;
                overflow: hidden;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
                gap: 4rem 2.5rem;
            }
        }
    }
}
  
.sec-two{
    margin: 5rem 0;
    .content-body{
        max-width: 144rem;
        width: 100%;
        margin-top: 5rem;
        .item{
            form{
                display: flex;
                flex-direction: column;
                position: relative;
                background: #fff;
                min-height: 65rem !important;
                justify-content: space-between;
                padding: 2rem;
                margin: 1.2rem;
                gap: 1rem;
                border-radius: .8rem;
           

.img {
    background-color: #f2f2f2;
    height: 300px;
    overflow: hidden;
    position: relative;
   width: 100%;
img {
    min-height: 22rem;
    object-fit: cover;
    mix-blend-mode: multiply; 
     object-fit: cover;
    transition: transform 0.4s ease, opacity 0.4s ease;
}
   &:hover {
    img {
      transform: scale(1.1);     
      opacity: 0.8;              
    }
  }
}





                .badge-icon_red{
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    background-color: #ef3434;
                    color: white;
                    padding: 0.5rem 1rem;
                    font-size: 1.2rem;
                    font-weight: 700;
                    border-radius: 2rem;
                    z-index: 10;
                }

                .txt-name{
                    height: 5rem;
                    font-size: 1.8rem;
                    font-weight: bold;
                    text-align: center;
                }

                .color{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    font-size: 1.8rem;
                    font-weight: bold;
                    .list-color{
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        label{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .color-circle.active {
                            border: 3px solid #000; 
                            transform: scale(1.3);  
                        }
                    }
                }

                .size{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // flex-direction: column;
                    gap: 1rem;
                    font-size: 1.8rem;
                    font-weight: bold;

                    .list-size{
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        overflow-x: scroll;

                        label{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        .size-circle{
                            font-size: 1.4rem;
                        }
                        .size-circle.active {
                            border: 2px solid #000; /* Tạo border khi chọn */
                            background-color: #f0f0f0; /* Màu nền khi chọn */
                            padding: 0 1rem;
                            border-radius: 5rem;
                        }
                    }
                }

                .price{
                    font-size: 1.8rem;
                    color: #000;
                    font-weight: 700;
                    text-align: center;
                }

                .btn{
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }

                .btn-register1{
                    color: white;
                    background-color: black;
                    padding: 1rem 2rem;
                    border-radius: 3rem;
                    font-size: 1.6rem;
                    font-weight: 400;
                    border: 1px solid #fff;
                    cursor: pointer;
                    transition: 0.3s ease;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    &:hover{
                        background: #fff;
                        color: #000;
                        border: 1px solid #000;
                    }
                }
            }
        }
    }
}
.sec-two1 {
    .container {
      max-width: 144rem;
      width: 100%;
  
      .content {
        .main {
          overflow: hidden;
  
          img {
            width: 100%;
            transition: 0.5s ease-in-out;
  
            &:hover {
              filter: contrast(110%) brightness(1.1);
              transform: scale(1.03) rotateZ(0.2deg);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
.sec-detail{
    margin: 2rem 0 10rem;
    .container{
        max-width: 140rem;
        h2{
            font-size: 3.2rem;
            font-weight: 700;
            text-align: center;
        }
        .content{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin-top: 5rem;
            padding-bottom: 5rem;
            position: relative;
            gap: 2.4rem;
            &:after{
                position: absolute;
                content: '';
                width: 50%;
                height: 1px;
                left: 50%;
                bottom: 0;
                background: #c0c0c0;
                transform: translateX(-50%);
            }
            .content-left{
                display: flex;
                align-items: flex-start;
                .left{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    gap: 1rem;
                    .productImage{
                        max-width: 10rem;
                        width: 100%;
                        transition: .3s ease;
                        position: relative;
                        border: 1px solid #c0c0c0;
                        padding: .5rem 0;
                        &:after{
                            position: absolute;
                            content: '';
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: #00000066;
                        }
                        &.active::after{
                            background: transparent;

                        }
                    }
                }
                .right{
                    max-width: 50rem;
                    width: 100%;
                }
            }

            .content-right{
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
                span{
                    font-size: 2rem;
                    font-weight: 500;
                    margin-left: 2rem;
                    &.detail_product{
                        margin: 0;
                    }
                }
                .color{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    font-size: 2rem;
                    font-weight: 500;
                    .list-color{
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        label{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .color-circle.active {
                            border: 3px solid #000; 
                            transform: scale(1.3);  
                        }
                    }
                }

                .size{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    font-size: 2rem;
                    font-weight: 500;

                    .list-size{
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        overflow-x: scroll;

                        label{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        .size-circle{
                            font-size: 1.6rem;
                        }
                        .size-circle.active {
                            border: 2px solid #000; /* Tạo border khi chọn */
                            background-color: #f0f0f0; /* Màu nền khi chọn */
                            padding: 0 1rem;
                            border-radius: 5rem;
                        }
                    }
                }

                .price{
                    font-size: 2rem;
                    color: #000;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                }

                .btn{
                    margin-top: 1.5rem;
                }

                .btn-register1{
                    color: white;
                    background-color: black;
                    padding: 1rem 2rem;
                    border-radius: 3rem;
                    max-width: 20rem;
                    font-size: 1.6rem;
                    font-weight: 400;
                    border: 1px solid #fff;
                    cursor: pointer;
                    transition: 0.3s ease;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    &:hover{
                        background: #fff;
                        color: #000;
                        border: 1px solid #000;
                    }
                }
                  .d-flex {
  gap: 1rem;
}

.d-flex a.btn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  
  color: inherit;
  font-size: initial; 

  i {
    font-size: 1.5rem;
    transition: color 0.3s ease, font-size 0.3s ease;
  }

  &:hover {
  color: #0d6efd; 
 background-color: #c0c0c0;
  text-decoration: none;
  }

  &:hover i {
    font-size: 1.75rem;  
 
  }
}



            }
        }
        .des{
            margin-top: 5rem;
            h3{
                font-size: 2.4rem;
                font-weight: 700;
            }
            p{
                font-size: 1.8rem;
                font-weight: 500;
                margin-top: 1rem;
            }
        }
    }
}

.sec-two .container .content .content-head .text_block h2{
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
}


.sec-option{
    .container{
        max-width: 144rem;
        .content{
            display: flex;
            justify-content: space-between;
            h2{
                font-size: 3rem;
                font-weight: 600;
            }
            .content-option{
                display: flex;
                gap: 3rem;
                align-items: center;
                .item{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    select{
                        border: 1px solid #ccc;
                        border-radius: .4rem;
                        padding: .5rem 2rem;
                        appearance: auto;
                        option{
                            padding: .5rem;
                            border-bottom: 1px solid;
                        }
                    }
                }
            }
        }
    }
}
.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    font-size: 3rem;
    font-weight: bold;
    color: black; 
  }
  
  .section-title::before,
  .section-title::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0 2rem;
  }
  .subtitle{
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
  
  }








  .comment{
    max-width: 80rem;
    margin-top: 5rem;
    h3{
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }
    font-size: 1.6rem;

    .group{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .item{
        display: flex;
        flex-direction: column;
        .date{
            font-size: 1.4rem;
        }
    }
    .txt{
        margin-top: .6rem;
        margin-left: 1rem;
    }
    .list{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
  }